.mr-t70 {
  margin-top: 70px;
}

.pagination {
  li {
    cursor: pointer;
  }
  span {
    &.primary {
      color: #337ab7;
    }
    &.secondary {
      color: #aaa;
    }
  }
}

.has-search  {
  .form-control-feedback{
  right: initial;
  left: 0;
  color: #ccc;
  }
}

.has-search {
  .form-control{
  padding-right: 12px;
  padding-left: 34px;
  }
}
